<div class="container" style="padding-top: 10px;">

    <h1><i class="fa fa-server"></i> Scolcoin Smart Contract
        <small>Ver información sobre Scolcoin Blockchain</small>
    </h1>
    <div id="chain" class="blockdiv">
        <table class="table table-striped">
            <tbody><tr>
                <th colspan="2" style="text-align:left">Resumen</th>
            </tr>
            <tr>
                <td>Bloque Actual</td>
                <td><a href="./#/block/{{ blockNum }}">{{ blockNum }}</a></td>
            </tr>
            <tr>
                <td>Bloque Tiempo</td>
                <td>
                    {{ blocktime }} Seg desde el Bloque <a href="./#/block/{{ blockNum - 1 }}">{{ blockNum - 1 }}</a><br>
                </td>
            </tr>
            <tr>
                <td>Promedios de tiempo de bloque</td>
                <td><table style="width:100%"><tbody><tr><td>
                    {{ blocktimeAverage1 }} segundos de los últimos 100 bloques<br>
                    {{ blocktimeAverage2 }} segundos de los últimos 1,000 bloques
                    </td><td>
                    {{ blocktimeAverage3 }} segundos de los últimos 10,000 bloques<br>
                    {{ blocktimeAverage4 }} segundos de los últimos 100,000 bloques
                    </td></tr><tr><td>
                    {{ blocktimeAverageAll }} segundos para todos los {{blockNum}} bloques
                    </td></tr></tbody></table>
                </td>
            </tr>
            <tr>
                <td>Dificultad actual</td>
                <td>{{ difficulty_formatted }}</td>
            </tr>
            <tr>
                <td>Dificultad total</td>
                <td>{{ totalDifficulty_formatted }}</td>
            </tr>
            <tr>
                <td>Limite Gas</td>
                <td>{{ gasLimit }}</td>
            </tr>
            <tr>
                <td>Tiempo</td>
                <td>{{ time }}</td>
            </tr>
            <tr>
                <td>Conectado a la Red SCOL</td>
                <td>{{ isConnected }}</td>
            </tr>
            <tr>
                <td>Versión API/Cliente</td>
                <td>{{ versionApi }} - {{ versionClient }}</td>
            </tr>
          </tbody>
      </table>
      <hr>
    </div>

</div>
